{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="{% static 'sign_in_and_sign_up.css' %}">
</head>
<body>

<h1 id="page-title">Sign Up</h1>

<form id="registration-form">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>

  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name" required><br><br>

  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name" required><br><br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required><br><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>

  <label for="profile_picture">Profile picture:</label>
  <input type="file" id="profile_picture" name="profile_picture"><br><br>

  <button type="submit">Submit</button>
</form>

<br><br>

<p>You have an account? <a href="{% url 'user:sign-in' %}">Sign in here</a></p>

<div id="response-message"></div>

<script>
    document.getElementById('registration-form').addEventListener('submit', function (event) {
        event.preventDefault();

        const formData = new FormData(this);  // Use FormData to handle file uploads

        fetch('/user/api_v1/register/', {  // Make sure the URL is correct
            method: 'POST',
            body: formData,  // Send FormData directly, including files
        })
            .then(response => response.json())
            .then(data => {
                const responseMessageElement = document.getElementById('response-message');
                if (data.message) {
                    // Display success message
                    responseMessageElement.innerText = data.message;
                    responseMessageElement.style.color = 'green';
                    localStorage.setItem("jwtToken", data.access);
                    window.location.href = "/user/my-profile/"
                } else {
                    // Display generic error message if something goes wrong
                    responseMessageElement.innerText = 'An error occurred during registration.';
                    responseMessageElement.style.color = 'red';
                }
            })
            .catch(error => {
                // Handle any network or other errors
                console.error('Error:', error);
                const responseMessageElement = document.getElementById('response-message');
                responseMessageElement.innerText = 'An error occurred. Please try again.';
                responseMessageElement.style.color = 'red';
            });
    });
</script>

</body>
</html>
